<div>
    <div class="card">
      <img class="card-img-top" src="{{image}} alt="{{name}}" />
      <div class="card-body">
        <h5 class="card-title">{{selectDescription}}</h5>
        <p class="card-text">{{additionalInformation}}</p>
        <p class="card-text">{{jobstatus}}</p>
      </div>
    </div>
</div>
    
    